<h1>Delete Document</h1>
<h2><%= @document.title %></h2>
<p>Are you sure you want to delete this document?</p>

<%= form_for(@document, :url => document_path(@document), :method => :delete) do |form| %>
<%= form.submit('Yes') %>
<%= link_to('Cancel', url_for(:back)) %>
<% end %>
