<!DOCTYPE html>
<html>
<head>
  <title>Disclaimer</title>
  <%= stylesheet_link_tag    "disclaimer/application", :media => "all" %>
  <%= javascript_include_tag "disclaimer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
