<!DOCTYPE html>
<html>
<head>
  <title>Disclaimer</title>
  <%= stylesheet_link_tag    "disclaimer/application", :media => "all" %>
  <%= stylesheet_link_tag "http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
